<div class="row" style="padding: 30px;">
<h1>1. Installation/User manual:</h1>
<h3>1.1 <a href="../assets/Aramex_Shopify_App_v1_User_Manual.pdf">Open user manual</a></h3>
<h3>1.2 Video</h2>
<iframe width="760" height="515" src="https://www.youtube.com/embed/FgQnPARq77Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<h1>2. Create Aramex account</h1>
<h3><a href="https://www.aramex.com/sign-up">Sign up for an Aramex Account</a></h3>
<p>The new form integrates directly with Reach and creates a draft CRM account on the spot for registered customers. The form is divided to multiple sections as per the below.</p>


<ul>
<li>Company information: In this section, the customer can provide all the required company details and documents such as company registration number and tax exemption details.
A referral field “how did you hear about Aramex” was added to allow for customizations and measurement of campaign reach.
<p><img src="../assets/information.png" alt=""></p>
</li>

<li>Company address
<p><img src="../assets/address.png" alt=""></p>
</li>
<li>Billing contact details: all provided details are reflected on Reach related billing contact record. 
<p><img src="../assets/contact.png" alt=""></p>
</li>
<li>References: customers must provide at least one credit reference for account opening. 
<p><img src="../assets/referrals.png" alt=""></p>
</li>
<li>Required documents: In this section, customers can provide legal documents such as signatory ID and power of attorney. This section is customizable and can include downloadable offer and credit application forms based on customer referral and country.
<p><img src="../assets/documents.png" alt=""></p>
</li>
</ul>



<h2>Signup</h2>

<p>The signup page now caters for personal and business accounts and allows customers to create CRM accounts directly through the site with minimal contact with the sales team. Signing up for a business account allows you to provide all needed details and attachments directly through the site. It also creates a credential record that customers can use to log into the site. Once the draft account is approved, the CRM account is linked to the customer profile on aramex.com where customers can use it to create shipments and pickup requests accordingly.</p>
<p>Once the draft account is approved, the CRM account is linked to the customer profile on aramex.com where customers can use it to create shipments and pickup requests accordingly.</p>
<img src="../assets/Sign%20up.png" alt="">

<h4>Dashboard</h4>
<p>To promote CRM account creation to L2 customers (logged in customers without a linked CRM account), a new button was added to the dashboard that directly leads customers to the new account creation form.</p>
<img src="../assets/dashboard.png" alt="">

<h4>My accounts page</h4>
<p>Customers can request multiple CRM accounts for various purposes, to ease this process the new account opening form is now accessible through the accounts page</p>
<img src="../assets/accounts.png" alt="">




</div>