<div class="row" style="padding: 30px;">

<h2>Aramex Privacy Policy</h2>
<p> Aramex "the App" provides direct integration with Aramex’s back-end systems including our pickup system, delivery network, and our rate calculator "the Service" to merchants who use Shopify to power their stores.  This Privacy Policy describes how personal information is collected, used, and shared when you install or use the App in connection with your Shopify-supported store.</p>
<h3>Personal Information the App Collects</h3>
<p>When you install the App, we are automatically able to access certain types of information from your Shopify account:
</p>
<ul>
<li>Modify orders, transactions, and fulfillments;</li>
<li>Read products, variants, and collections;</li>
<li>Modify shipping rates, countries, and provinces;</li>
<li>Modify fulfillment services;</li>
<li>Read orders, transactions, and fulfillments;</li>
<li>Read shipping rates, countries, and provinces;</li>
<li>Read fulfillment services. </li>
</ul>


<p>
Additionally, we collect the following types of personal information from you and/or your customers once you have installed the App:
Information about you and others who may access the App on behalf of your store, such as your name, address, email address, phone number, and billing information;
 </p>
<p>We collect personal information directly from the relevant individual, through your Shopify account, or using the following technologies:
“Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.
“Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.
“Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the Site.
</p>
<h3>How Do We Use Your Personal Information?</h3>
<p>We use personal information collected from you and your customers to provide services and operate the app. In addition, we use this personal information as follows: Communicate with you, Customize or improve the app, And provides you with information or advertising related to our products or services.</p>
<h3>Sharing Your Personal Information</h3>
<p>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>
<h3>Your Rights</h3>
<p>
If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.  </p>
<p>Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above.  Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.</p>

<h3>Data Retention</h3>
<p>When you place an order through the Site, we will maintain your Order Information for our records for Aramex shipping unless and until you ask us to delete this information.  </p>
<h3>Changes</h3>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
<h3>Contact Us</h3>
<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at developers@aramex.com</p>


</div>