<div class="row" style="padding: 30px;">
<h3>Support info:</h3>
<p>Support email address:<strong>developers@aramex.com</strong></p>
<p><a href="https://www.aramex.com/support/submit-support-request">Submit Support Request</a></p>
<p>Support tel:<strong>0096265358855</strong></p>
</div>
<div class="row" style="padding: 30px;">
<h3>FAQ</h3>
<strong>1. Currently I have not measured or weighed my products. Can I still get rates?</strong>
<p>It is mandatory to put in product weight while fetching the rates.</p>

<strong>2. I do not have "Aramex Account Details" information. How should I get it?</strong>
<p>You should follow the link ("Request Aramex Account Details") on "Account information" page and fill a form to get it.</p>
</div>