#index_top {
	margin-bottom: 30px;
}

#contact-support {
  max-width: 500px;
  margin: 0 auto;
  color: #777;
  padding-top: 50px;

  a {
    margin-top: 20px;
    display: block;
    color: #36C;
  }
}

.input-auto-width {
  width: auto;
}